* {
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; 
}

.Forms1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  padding: 104px 0;
}

.Forms2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  padding: 104px 0;
}

#Forms3 {
  display: flex;

  min-height: 100vh;
  background-color: #f7f7f7;
  padding: 104px 0;
}

.container {
  width: 428px;
  height: auto;
  padding: 32px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.container2 {
  width: 665px;
  height: auto;
  padding: 32px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.container3 {
  display: flex;
  justify-content:flex-start;
  
  width: 100%;
  max-width: 665px;
  margin: auto;
  height: auto;
  
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}

h2 {
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  margin-top: auto;

  align-self: stretch;
  color: var(--dark-purple-100, #130f1c);

  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 125% */
  letter-spacing: -0.64px; 
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px; 
  align-self: stretch;
}

.input-group label {
  color: black;
}

.input-group input[type="text"],
.input-group input[type="password"] {
  width: 100%;
  display: flex;
  padding: 12px 14px 12px 12px; 
  border: 1px solid white;
  border-radius: 5px; 
  background-color: #fafafa;
  gap: 10px;
  color: #130f1c;
}

input[type="password"]::placeholder {
  color: #130f1c; 
  font-weight: bold; 
}

input[type="checkbox"] + label {
  display: flex;
  align-items: center; 
}

input[type="checkbox"] + label .checkmark::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 16px;
  margin-top: 6px;
  flex-shrink: 0;
  background-image: url("/assets/images/Switch=default\,\ Activ=off.jpg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-right: 10px; 
}

input[type="checkbox"]:checked + label .checkmark::before {
  background-image: url("/assets/images/Switch=default\,\ Activ=on.jpg");
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  z-index: 1;
}

.custom-checkbox2 {
  display: inline-block;
  
}

.custom-checkbox-input2 {
  display: none; 
}

.subscribe-label2 {
  position: relative;

  padding-left: 30px; 
  cursor: pointer;
  
}

.checkmark2 {
  position: absolute;
  top: -2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee; 
  border: 1px solid #ddd;
  border-radius: 5px; 
  
}


.custom-checkbox-input2:checked + .subscribe-label2 .checkmark2 {
  background-color: orange; 
  content: ""; 
  background-image: url("/assets/images/Check.png"); 
  background-size: cover; 
}

.input-row2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 16px; 
}

.input-group2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}

.input-group2 label {
  margin-bottom: 8px; 
}

.input-group2 input {
  width: 100%;
  display: flex;
  padding: 12px 14px 12px 12px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #fafafa;
  gap: 10px;
  color: #130f1c;
}

.subscribe-label {
  display: inline-block;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--gray-100, #b4b4b8);
}

.custom-checkbox {
  display: flex;
  align-items: center; 
}

.signin-btn {
  display: flex;
  padding: 12px 48px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 5px;
  background: var(--purple-100, #651ff7);
  color: #ffffff; 
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s background-color;

  
  &:hover {
    background-color: #541ed6; 
  }
}

.password-recovery {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center; 
  margin-top: 12px; 
  margin-bottom: 32px;
  
}

.password-recovery a {
  text-decoration: none; 
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto Condensed", sans-serif;
  color: #651fff; 
  border-bottom: 1px solid #651fff; 
  padding-bottom: 2px; 
  transition: color 0.3s ease;
  font-weight: 400;
}

.password-recovery a:hover {
  color: #651fff; 
}

.divider {
  align-self: stretch;
  gap: 32px;
  width: 100%;
  height: 2px;
  align-self: stretch;
  background-color: #ececee;
  border-radius: 10px;
  margin: 0px auto 0px auto; 
}

.social-login {
  align-self: stretch;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center;
}

.social-login p {
  justify-content: center;
  color: var(--gray-50, #5a5761);
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.social-login-container {
  align-self: stretch;
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 16px; 
}

.social-btn {
  display: flex;
  padding: 12px 48px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 100;
  border-radius: 5px;
  border: 1px solid var(--gray-400, #ececee);
  background: var(--White, #fff);
  max-width: 300px;
}

.social-btn:hover {
  background-color: var(
    --gray-300,
    #d9d9d9
  ); 
}

.social-btn img {
  width: 100%;
  max-width: 24px;
  height: 100%;
  max-height: 24px;
}


@media (max-width: 768px) {
  .social-btn {
    padding: 12px;
    flex: 1 0 auto; 
    max-width: none; 
  }
}


@media (max-width: 480px) {
  .social-btn {
    padding: 8px;
    flex: 1 0 auto; 
    max-width: none; 
  }
}

.subscribe-message {
  align-self: stretch;
}

#message {
  align-self: stretch;

  width: 100%;
  max-width: 601px; 
  height: 100px;
  padding: 8px 14px 8px 12px; 
  border-radius: 10px; 
  border: 1px solid white; 
  background-color: var(
    --gray-500,
    #f3f3f5
  ); 
  font-size: 14px; 
  box-sizing: border-box; 
}

#message::placeholder {
  color: #aaa; 
}

#message:focus {
  outline: none;
  border-color: #651fff; 
}

.submit-btn {
  align-self: flex-end;
  display: flex;

  padding: 12px 48px;
  flex-direction: row;

  gap: 10px;
  border-radius: 5px;
  background: var(--purple-100, #651fff);
  border-color: white;
  color: white;
  border: none;
}

@media (max-width: 600px) {
  
  .container2 {
    padding: 20px; 
  }

  .submit-btn {
    display: flex;
    padding: 12px 48px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
    background: var(--purple-100, #651fff);
  }

  .input-row2 {
    flex-direction: column; 
  }
}

.h2 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  color: var(--dark-purple-100, #130f1c);
  /* Roboto/H2 */
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 125% */
  letter-spacing: -0.64px;
}

.contact-info {
  background-color: #651FFF; 
  color: white;
  padding: 46px 16px 32px 16px;
  border-radius: 10px 0px 0px 10px; 
   
  width: 216px;
  height: auto; 
  
}



.contact-form {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  
  width: 449px;
  padding: 32px 16px 32px 32px;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
  border-radius: 0px 10px 10px 0px;
  background: #fff;

  /* Box Shadow */
  box-shadow: 40px 40px 60px 0px rgba(0, 0, 0, 0.1);
}

.contact-title {
  color: var(--White, #fff);
  /* Roboto/H5 */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  margin-bottom: 32px;
}

.contact-icon1 {
  background-image: url('/assets/images/Phone.svg');
  vertical-align: middle;
  margin-right: 8px;
  
  display: inline-block; 
  width: 20px;  
  height: 20px;
  flex-shrink: none;
  color: white;
   
}

.contact-icon2 {
  background-image: url('/assets/images/Mail.svg');
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  
  
  margin-right: 8px;
  
   
  width: 20px; 
  height: 20px;
  flex-shrink: none;
  color: white;
  
}

.contact-details {
  white-space: nowrap;

}

.container4 {
  max-width: 449px;
  margin: 0 auto;
  padding: 0 16px; 
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 0px 10px 10px 0px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.contact-form h2 {
  margin-bottom: 5px; 
  text-align: center;
}

.form-row {
  display: flex;
  flex-wrap: wrap; 
  gap: 16px; 
}

.form-group {
 flex-basis: 100%;
  margin-bottom: 16px; 
}

.form-control {
  width: 100%;
  padding: 16px; 
  border: 1px solid white; 
  border-radius: 5px;
  background-color: #fafafa;
}

.form-control::placeholder {
  color: #888;
}

.form-group1,
.form-group2 {
  width: 100%;
}

.form-textarea {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fafafa;
  height: 90px; 
}


/* Responsive design */
@media (min-width: 576px) {
  .form-group {
    flex-basis: calc(50% - 8px); 
  }
}

@media (min-width: 768px) {
  .container4 {
    max-width: 449px; 
  }
}

.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  padding: 104px 0;
}

.checkout-container {
  width: 100%;
  max-width: 680px;
  margin: auto;
  height: auto;
  padding: 32px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 10px;
  display: flex; 
  flex-direction: row; 
  align-items: flex-start;
  gap: 32px;
  flex-wrap: wrap;
  
  
}

.checkout-section-your-order { 
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.6px;
}

.in-one-row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex flex-start;
  justify-content: space-between;
  
}
  

.address-details,
.shipping-details {
  
  flex: 1;
  
  padding: 5px;
}

.address-details p {
  margin-top: 10;
  margin-bottom: 10px;
  gap: 32px; 
  line-height: 1.6px;
  white-space: nowrap;
 
  
}

.shipping-details p {
  margin-top: 10;
  margin-bottom: 10px;
  gap: 32px; 
  line-height: 1.6px;
  white-space: nowrap;
}

.checkout-section-your-order p {
  margin-top: 10;
  margin-bottom: 10px;
  gap: 32px; 
  line-height: 1.6px;
  white-space: nowrap;
}

.larger-text {
  font-size: 18px;
}

.checkout-section-payment-method {
  display: flex;
  flex-wrap: wrap; 
}

.payment-method-section {
  display: flex;
  flex-direction: column;
}

.payment-method-title {
  
  align-self:start ;
  ;
  
  margin-bottom: 20px;
}

.input-groups-container {
  display: flex;
 
  flex-wrap: nowrap;
  justify-content: space-between; 
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-right: 10px; 
}

.row50 {
  
  flex: 0 1 50%; 
}

.row25-1, .row25-2 {
  flex: 0 1 25%; /* Allow shrinking if needed but no growth beyond 25% */
}

.checkout-header {
  font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 125% */
letter-spacing: -0.64px; 
margin-bottom: 50px;
	
}
  



 
  
  












